 * {
    padding:0;
    margin:0;
  }
  
  body {
    font-size:16px;
    padding:4em;
  }
  
  span.welcome {
    line-height:3.5em;
    display:inline-block;
    float:right;
  }
  
  header h1, header h2 {
    display:inline-block;
  }
  
  header h2 {
    font-size:1.2em;
  }
  
  a.btn {
    padding:0.2em 0.5em 0.2em 0.5em;
    background-color:#ccc;
    color:#fff;
    border:1px solid #333;
    margin:0.4em;
    font-weight:bold;
    text-decoration: none;
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
    border-radius:0.3em;
  }
  
  a.btn:hover {
    background-color:#eee;
    opacity:0.55;
  }
  
  a.btn.login {
    background-color: blue;
  }
  
  a.btn.register {
    background-color: green;
  }
  
  nav {
    margin-top:2em;
  }
  
  nav a {
    font-size:1.2em;
    padding:0.2em 0.5em;
  }
  
  nav a:first-child {
    padding-left:0;
  }
  
  
  
  /*MAIN*/
  #main {
    padding:2em 0;
  }
  
  .main {
  	padding-top:1.2em;
  }
  
  #javax_faces_developmentstage_messages {
    list-style-type:none;
    padding:0.2em 0.5em 0.2em 0.8em;
    color:green;
  }
  
  #login_cont input {
    padding:0.2em;
    clear:both;
  }
  
  header.itemview {
    width:50%;
    margin-top:1em;
  }
  
  header.itemview h1 {
    font-size:1em;
    display:inline-block;
    padding: 0.5em 0;
  }
  
  img.itemview {
    clear:left;
    display:block;
    width:100%;
  }
  
  .info {
    width:40%;
    padding:0.8em;
    border:1px solid #999;
  }
  
  .info span {
    margin-top:2.9em;
    display:inline-block;
    float:right;
    width:45%;
    padding-left:1em;
  }
  
  .add_to_bundle {
    display:block;
  }
  
  .movies {
    width:100%;
    
  }
  
  li.item {
    list-style-type: none;
    display:inline-block;
    width: 100px;
  }
  
  li.item img {
    vertical-align: top;
  }
  
  li.title {
    overflow: hidden;
  }
  
  .title {
    font-size:0.8em;
    font-weight: normal;
  }
  
  .right {
    float:right;
  }
  
  .summary {
    width:50%;
    float:right;
  }